<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous"></link>

	<title><ui:insert name="title">Bienvenue sur notre cabinet médical</ui:insert></title>
</h:head>

<h:body>
	<ui:debug hotkey="x"
		rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}" />
	<div class="container">

		<div id="header">
			<ui:insert name="header">

				<!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
				<!-- <ui:include src="header.xhtml"/> -->
				<ui:include src="/WEB-INF/templates/header.xhtml" />
			</ui:insert>
		</div>


		<div id="content">
			<ui:insert name="content">
    	Content area.  See comments below this line in the source.
    	<!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
				<!-- <div> -->
				<!-- <ui:include src="content.xhtml"/> -->
				<!-- </div> -->
			</ui:insert>
		</div>

		<div id="footer">
			<ui:insert name="footer">

				<!--  include your header file or uncomment the include below and create footer.xhtml in this directory -->
				<!--<ui:include src="footer.xhtml"/>  -->
				<ui:include src="/WEB-INF/templates/footer.xhtml" />
			</ui:insert>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</h:body>

</html>
