<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	 <ui:define name="content">
	 
	 <p:panel id="horizontal" header="Annuler un rendez-vous" toggleable="true" toggleOrientation="horizontal">
	<p>Vous avez un rendez-vous le:</p>
	<br/>
	 <p>Pour l'annuler veuillez cliquer sur valider:</p>
	 <form method="get" action="annulation.xhtml">
	 	 <input type="submit" value="Valider"  />
	 	 <input type="submit" value="Garder le rendez-vous"  />
    </form>
   
	 </p:panel>
	 </ui:define>
	 </ui:composition>
</html>
