<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">

	<ui:define name="content">
		<style>
form {
	/* Uniquement centrer le formulaire sur la page */
	margin: 0 auto;
	width: 400px;
	/* Encadré pour voir les limites du formulaire */
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}
</style>
		<p>Se connecter</p>
		<h:form>
			<h:panelGrid columns="2">
				<div>
					<h:outputText value="Nom"></h:outputText>
				</div>

				<div>
					<h:inputText value="#{patientBean.nom}"></h:inputText>
				</div>
				<div>
					<h:outputText value="Mot de passe"></h:outputText>
				</div>
				<div>
					<h:inputSecret value="#{patientBean.motdepasse}"></h:inputSecret>
				</div>
			</h:panelGrid>
			<h:commandButton value="Login" action="#{patientBean.save}" class="btn btn-primary"></h:commandButton>
			
					
			
		</h:form>
	</ui:define>

</ui:composition>
</html>
