<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
      
<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
   <ui:define name="content">
   <p:panel id="horizontal" header="Prise de rendez-vous" toggleable="true" toggleOrientation="horizontal">
	<p>Veuillez sélectionner le créneau qui vous convient:</p>
	<p:calendar></p:calendar>
	<p>Puis valider: </p><br/>
	<form method="get" action="confirmation.xhtml">
	<input type="submit" value="Valider"/>
	</form>
	</p:panel>
	</ui:define>
	</ui:composition>
	
</html>
