<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
	<style>
	form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 250 px;
 
}
input {

    border: 3px ridge;
     box-shadow: 6px 6px 0px black;
     
  }
  label{
  font-size: x-large;
}
  
</style>
	    <p:panel id="horizontal" header="Bienvenue" toggleable="true" toggleOrientation="horizontal">
		<h:panelGrid columns="2" cellpadding="10">
		<h:outputLabel value="Bienvenue #{patientBean.nom} dans notre cabinet médical"></h:outputLabel>
			 <img src="logo.jpg" alt="logo" />
			</h:panelGrid>
				<form method="get" action="prendrerdv.xhtml">
	<div>
        <input type="submit" value="Pour prendre un rendez-vous"/><br/>
    </div>
     </form><br/>
	<form method="get" action="deplacer-rdv.xhtml">
   <input type="submit" value="Pour déplacer  un rendez-vous"/><br/>
       </form><br/>
       <form method="get" action="annuler-rdv.xhtml">         
   <input type="submit" value="Pour annuler un rendez-vous"/>
   </form><br/>
	</p:panel>

	</ui:define>
	</ui:composition>
</html>
